.dice {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  padding: 12px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.dice > name {
  z-index: 2;
  font-size: 20px;
}

mod {
  z-index: 2;
}
value {
  z-index: 2;
}

.dice > img {
  z-index: 0;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.d4 {
  color: #fff;
}

.d6 {
}

.d8 {
}

.d10 {
}

.d12 {
}

.d20 {
}

.d100 {
}

.ddefault {
}
